{% extends '_base.html' %}

{% block title %}
Self-Harm Classification
{% endblock title %}

{% block css_files %}

{% endblock css_files %}

{% block contents %}

{% include 'pages/includes/navbar.html' %}

{% include 'pages/includes/breadcrumb.html' %}

<div class="container" style="height: 80vh; width: 90vw;">
    <div class="d-flex flex-column w-100 gap-3 mt-3 mb-3">

        <h5 id="page-id" class="m-0 fs-3">Self-Harm Classification</h5>
        <span class="m-0 fs-5 text-muted">Classify whether a given message has self-harm related contents.</span>
    </div>

    <form class="row gy-3" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header d-flex" style="background: var(--card-head-background);">
                    <div class="d-flex gap-1">
                        <button type="button" class="choice-btn active d-flex align-items-center justify-content-center p-2 rounded-3" id="zero-shot">
                            <h5 class="m-0 fs-6">Zero-shot</h5>
                        </button>
                        <button type="button" class="choice-btn d-flex align-items-center justify-content-center p-2 rounded-3" id="few-shot">
                            <h5 class="m-0 fs-6">One/Few-shot</h5>
                        </button>
                        <button type="button" class="choice-btn d-flex align-items-center justify-content-center p-2 rounded-3" id="fine-tune">
                            <h5 class="m-0 fs-6">Fine-tune</h5>
                        </button>
                        {{form.model(hidden='true', id='form-model')}}
                    </div>

                    <div class="dropdown ms-auto">
                        <div class="dropdown-toggle p-2 text-center" id="model-type-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: var(--choice-btn-color);">
                            GPT-3
                        </div>
                        <ul class="dropdown-menu" aria-labelledby="model-type-dropdown">
                            <li><div id="gpt-3-dropdown-item" class="dropdown-item active">GPT-3</div></li>
                            <li><div id="gpt-2-dropdown-item" class="dropdown-item">GPT-2</div></li>
                        </ul>
                        {{form.model_type(hidden='true', id='form-model-type')}}
                    </div>
                </div>
                <div class="card-body" style="background: var(--card-body-background);">
                    <div class="d-flex">
                        <h5 class="card-title">Parameter Configurations</h5>
                        <h5 class="ms-auto collapse-icon-btn fs-5" data-bs-toggle="collapse" data-bs-target="#parameter-config" aria-expanded="false" aria-controls="parameter-config"><i class="bi bi-chevron-down"></i></h5>
                    </div>
                    <div class="card-text collapse" id="parameter-config">
                        <div class="mb-2">
                            <div class="d-flex align-items-center justify-content-between w-100" >
                                <label for="temperature" class="form-label">Temperature</label>
                                <input type="number" class="form-control" aria-label="temperature-number" id="temperature-number" value="" min="0" max="1" step="0.01" style="max-width: 80px;">
                            </div>
                            <input type="range" class="form-range" id="temperature" value="" min="0" max="1" step="0.01">
                            {{form.temperature(hidden='true', id='form-temperature')}}
                        </div>
                          
                        <div class="mb-2">
                            <div class="d-flex align-items-center justify-content-between w-100" >
                                <label for="max-length" class="form-label">Maximum length</label>
                                <input type="number" class="form-control" aria-label="max-length-number" id="max-length-number" value="" min="6" max="2048" style="max-width: 80px;">
                            </div>
                            <input type="range" class="form-range" id="max-length" value="" min="6" max="2048">
                            {{form.max_length(hidden='true', id='form-max-length')}}
                        </div>
                          
                        <div class="mb-2">
                            <div class="d-flex align-items-center justify-content-between w-100" >
                                <label for="top-p" class="form-label">Top P</label>
                                <input type="number" class="form-control" aria-label="top-p-number" id="top-p-number" value="" min="0" max="1" step="0.01" style="max-width: 80px;">
                            </div>
                            <input type="range" class="form-range" id="top-p" value="" min="0" max="1" step="0.01">
                            {{form.top_p(hidden='true', id='form-top-p')}}
                        </div>
                        
                        <div id="gpt-3-parameter">
                            <div class="mb-2">
                                <div class="d-flex align-items-center justify-content-between w-100" >
                                    <label for="frequency-penalty" class="form-label">Frequency penalty</label>
                                    <input type="number" class="form-control" aria-label="frequency-penalty-number" id="frequency-penalty-number" value="" min="0" max="1" step="0.01" style="max-width: 80px;">
                                </div>
                                <input type="range" class="form-range" id="frequency-penalty" value="" min="0" max="1" step="0.01">
                                
                            </div>
                              
                            <div class="mb-2">
                                <div class="d-flex align-items-center justify-content-between w-100" >
                                    <label for="presence-penalty" class="form-label">Presence penalty</label>
                                    <input type="number" class="form-control" aria-label="presence-penalty-number" id="presence-penalty-number" value="" min="0" max="1" step="0.01" style="max-width: 80px;">
                                </div>
                                <input type="range" class="form-range" id="presence-penalty" value="" min="0" max="1" step="0.01">
                                
                            </div>
    
                            <div class="mb-2">
                                <div class="d-flex align-items-center justify-content-between w-100" >
                                    <label for="best-of" class="form-label">Best of</label>
                                    <input type="number" class="form-control" aria-label="best-of-number" id="best-of-number" value="" min="1" max="20" style="max-width: 80px;">
                                </div>
                                <input type="range" class="form-range" id="best-of" value="" min="1" max="20">
                                
                            </div>
                        </div>

                        <div class="d-none" id="gpt-2-parameter">
                            <div class="mb-2">
                                <div class="d-flex align-items-center justify-content-between w-100" >
                                    <label for="num-beams" class="form-label">Number of beams</label>
                                    <input type="number" class="form-control" aria-label="num-beams-number" id="num-beams-number" value="" min="1" max="99" style="max-width: 80px;">
                                </div>
                                <input type="range" class="form-range" id="num-beams" value="" min="1" max="99">
                                
                            </div>

                            <div class="mb-2">
                                <div class="d-flex align-items-center justify-content-between w-100" >
                                    <label for="diversity-penalty" class="form-label">Diversity penalty</label>
                                    <input type="number" class="form-control" aria-label="diversity-penalty-number" id="diversity-penalty-number" value="" min="0" max="1" step="0.01" style="max-width: 80px;">
                                </div>
                                <input type="range" class="form-range" id="diversity-penalty" value="" min="0" max="1" step="0.01">
                                
                            </div>
                              
                            <div class="mb-2">
                                <div class="d-flex align-items-center justify-content-between w-100" >
                                    <label for="repetition-penalty" class="form-label">Repetition penalty</label>
                                    <input type="number" class="form-control" aria-label="repetition-penalty-number" id="repetition-penalty-number" value="" min="0" max="1" step="0.01" style="max-width: 80px;">
                                </div>
                                <input type="range" class="form-range" id="repetition-penalty" value="" min="0" max="1" step="0.01">
                                
                            </div>
    
                            <div class="mb-2">
                                <div class="d-flex align-items-center justify-content-between w-100" >
                                    <label for="length-penalty" class="form-label">Length penalty</label>
                                    <input type="number" class="form-control" aria-label="length-penalty-number" id="length-penalty-number" value="" min="0" max="1" step="0.01" style="max-width: 80px;">
                                </div>
                                <input type="range" class="form-range" id="length-penalty" value="" min="0" max="1" step="0.01">
                                
                            </div>
                        </div>
                    </div>

                    {{form.frequency_penalty(hidden='true', id='form-frequency-penalty')}}
                    {{form.presence_penalty(hidden='true', id='form-presence-penalty')}}
                    {{form.best_of(hidden='true', id='form-best-of')}}
                    {{form.num_beams(hidden='true', id='form-num-beams')}}
                    {{form.diversity_penalty(hidden='true', id='form-diversity-penalty')}}
                    {{form.repetition_penalty(hidden='true', id='form-repetition-penalty')}}
                    {{form.length_penalty(hidden='true', id='form-length-penalty')}}

                    <hr class="dropdown-divider">
                    <div class="d-flex">
                        <h5 class="card-title">Prompt Designs</h5>
                        <h5 class="ms-auto collapse-icon-btn fs-5" data-bs-toggle="collapse" data-bs-target="#prompt-design" aria-expanded="false" aria-controls="prompt-design"><i class="bi bi-chevron-down"></i></h5>
                    </div>
                    <div class="card-text collapse" id="prompt-design">
                        <div class="input-group mb-2">
                            <span class="input-group-text">Prompt</span>
                            <textarea class="form-control" aria-label="Prompt" id="prompt" rows="6"></textarea>
                            {{form.prompt(hidden='true', id='form-prompt')}}
                        </div>

                        <div class="d-flex flex-column d-none" id="example-collection">
                            <div class="card mb-2" aria-label="example">
                                <div class="card-body">
                                    <div class="d-flex align-items-center mb-2">
                                        <h6 class="card-subtitle text-muted">Example</h6>
                                    </div>
                                    <div class="input-group mb-2">
                                        <span class="input-group-text">Input</span>
                                        <textarea class="form-control" aria-label="example-input"></textarea>
                                    </div>
    
                                    <div class="input-group">
                                        <span class="input-group-text">Label</span>
                                        <select class="form-select" aria-label="example-label">
                                            <option value="suicide" selected>suicide</option>
                                            <option value="non-suicide">non-suicide</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="button" id="add-example" class="panel-btn d-flex w-100 align-items-center justify-content-center p-2 rounded-3 d-none">
                            <h5 class="m-0 fs-5">Add Example</h5>
                        </button>
                    </div>
                </div>
                <div class="card-footer text-center" style="background: var(--card-head-background); color: var(--choice-btn-color);">
                    Model Settings
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body" style="background: var(--card-body-background);">
                    <h5 class="card-title">Playground</h5>
                    <p class="card-text">
                        <div class="mb-2">
                            <label for="input-text" class="form-label">Input text</label>
                            <textarea type="text" class="form-control" id="input-text">{% if input_text %}{{input_text}}{% endif %}</textarea>
                            {{form.input_text(hidden='true', id='form-input-text')}}
                        </div>

                        <div class="mb-2">
                            <label for="output-label" class="form-label">Output label</label>
                            <input type="text" class="form-control" id="output-label" value="{% if output_text %}{{output_text}}{% endif %}" {% if not output_text %}disabled{% endif %}>
                        </div>

                        <label for="output-prob" class="form-label">Probablity</label>
                        <div class="input-group mb-2">
                            <input type="text" class="form-control" id="output-prob" value="{% if output_prob %}{{output_prob}}{% endif %}" {% if not output_prob %}disabled{% endif %}>
                            <span class="input-group-text" id="precentage">%</span>
                        </div>
                    </p>
                    <button type="submit" id="predict-submit" class="panel-btn d-flex align-items-center justify-content-center p-2 rounded-3">
                        <h5 class="m-0 fs-5">Predict</h5>
                    </button>
                    {{form.submit(hidden='true', id='form-submit')}}
                </div>
                <div class="card-footer text-center" style="background: var(--card-head-background); color: var(--choice-btn-color);">
                    Classification
                </div>
            </div>
        </div>
    </form>

</div>



{% endblock contents %}

{% block js_files %}
<script src="{{ url_for('static', filename='scripts/breadcrumb.js') }}"></script>
<script>
    var Classifier = function() {
        this.formModel = document.getElementById(`form-model`),
        this.formModelType = document.getElementById(`form-model-type`),
        this.formTemperature = document.getElementById(`form-temperature`),
        this.formMaxLength = document.getElementById(`form-max-length`),
        this.formTopP = document.getElementById(`form-top-p`),
        this.formFrequencyPenalty = document.getElementById(`form-frequency-penalty`),
        this.formPresencePenalty = document.getElementById(`form-presence-penalty`),
        this.formBestOf = document.getElementById(`form-best-of`),
        this.formPrompt = document.getElementById(`form-prompt`),
        this.formInputText = document.getElementById(`form-input-text`),
        this.formNumBeams = document.getElementById(`form-num-beams`),
        this.formDiversityPenalty = document.getElementById(`form-diversity-penalty`),
        this.formRepetitionPenalty = document.getElementById(`form-repetition-penalty`),
        this.formLengthPenalty = document.getElementById(`form-length-penalty`),
        this.formSubmit = document.getElementById(`form-submit`),
        this.zeroShotBtn = document.getElementById(`zero-shot`),
        this.fewShotBtn = document.getElementById(`few-shot`),
        this.fineTuneBtn = document.getElementById(`fine-tune`),
        this.rangeTemperature = document.getElementById(`temperature`),
        this.numberTemperature = document.getElementById(`temperature-number`),
        this.rangeMaxLength = document.getElementById(`max-length`),
        this.numberMaxLength = document.getElementById(`max-length-number`),
        this.rangeTopP = document.getElementById(`top-p`),
        this.numberTopP = document.getElementById(`top-p-number`),
        this.rangeFrequencyPenalty = document.getElementById(`frequency-penalty`),
        this.numberFrequencyPenalty = document.getElementById(`frequency-penalty-number`),
        this.rangePresencePenalty = document.getElementById(`presence-penalty`),
        this.numberPresencePenalty = document.getElementById(`presence-penalty-number`),
        this.rangeBestOf = document.getElementById(`best-of`),
        this.numberBestOf = document.getElementById(`best-of-number`),
        this.rangeNumBeams = document.getElementById(`num-beams`),
        this.numberNumBeams = document.getElementById(`num-beams-number`),
        this.rangeDiversityPenalty = document.getElementById(`diversity-penalty`),
        this.numberDiversityPenalty = document.getElementById(`diversity-penalty-number`),
        this.rangeRepetitionPenalty = document.getElementById(`repetition-penalty`),
        this.numberRepetitionPenalty = document.getElementById(`repetition-penalty-number`),
        this.rangeLengthPenalty = document.getElementById(`length-penalty`),
        this.numberLengthPenalty = document.getElementById(`length-penalty-number`),
        this.modelTypeDropdown = document.getElementById(`model-type-dropdown`),
        this.gpt3DropDownItem = document.getElementById(`gpt-3-dropdown-item`),
        this.gpt2DropDownItem = document.getElementById(`gpt-2-dropdown-item`),
        this.prompt = document.getElementById(`prompt`),
        this.inputText = document.getElementById(`input-text`),
        this.outputLabel = document.getElementById(`output-label`),
        this.predictSubmit = document.getElementById(`predict-submit`),
        this.addExampleBtn = document.getElementById(`add-example`),
        this.exampleCollection = document.getElementById(`example-collection`),
        this.addExampleBtn = document.getElementById(`add-example`)
    };

    Classifier.prototype = {
        ini: function() {
            this._prepareAPI();
            this._prepareFrontEnd();
            this._addEventListner();
        },
        _prepareFrontEnd: function() {
            this.rangeTemperature.value = this.numberTemperature.value = this.formTemperature.value;
            this.rangeMaxLength.value = this.numberMaxLength.value = this.formMaxLength.value;
            this.rangeTopP.value = this.numberTopP.value = this.formTopP.value;
            this.prompt.innerHTML = this.formPrompt.value;

            this.rangeFrequencyPenalty.value = this.numberFrequencyPenalty.value = this.formFrequencyPenalty.value;
            this.rangePresencePenalty.value = this.numberPresencePenalty.value = this.formPresencePenalty.value;
            this.rangeBestOf.value = this.numberBestOf.value = this.formBestOf.value;
            this.rangeNumBeams.value = this.numberNumBeams.value = this.formNumBeams.value;
            this.rangeDiversityPenalty.value = this.numberDiversityPenalty.value = this.formDiversityPenalty.value;
            this.rangeRepetitionPenalty.value = this.numberRepetitionPenalty.value = this.formRepetitionPenalty.value;
            this.rangeLengthPenalty.value = this.numberLengthPenalty.value = this.formLengthPenalty.value;

            if (this.formModel.value === "Zero-shot") {
                this.switchToZeroShot();
            } else if (this.formModel.value === "One/Few-shot") {
                this.switchToFewShot();
                this.captureExamples();
            } else {
                this.switchToFineTune();
            }

            if (this.formModelType.value == "GPT-3") {
                this.toggleDropdownToGPT3();
            } else if (this.formModelType.value == "GPT-2") {
                this.toggleDropdownToGPT2();
            }

        },
        _prepareAPI: function() {
            var that = this,
                gpt3Parameter = document.getElementById(`gpt-3-parameter`),
                gpt2Parameter = document.getElementById(`gpt-2-parameter`);

            this.syncValueChange = function(items) {
                let curr = this;

                items.forEach(item => {
                    item.value = curr.value;
                });
            }

            this.toggleDropdownToGPT3 = function() {
                that.gpt3DropDownItem.classList.add("active");
                that.gpt2DropDownItem.classList.remove("active");

                gpt3Parameter.classList.remove("d-none");
                gpt2Parameter.classList.add("d-none");

                that.modelTypeDropdown.innerHTML = "GPT-3";
            }

            this.toggleDropdownToGPT2 = function() {
                that.gpt3DropDownItem.classList.remove("active");
                that.gpt2DropDownItem.classList.add("active");

                gpt3Parameter.classList.add("d-none");
                gpt2Parameter.classList.remove("d-none");

                that.modelTypeDropdown.innerHTML = "GPT-2";
            }

            this.captureExamples = function() {
                const regex = /^(?<text>.*)\n(\[ANSWER\]: )(?<answer>.*)/;
                const examples = that.prompt.value.split("\n\n[TEXT]: ");

                let exampleCount = 0;

                examples.forEach(example => {
                    const match = example.match(regex);

                    console.log(`match: ${match}`);
    
                    if (match == null) return;
    
                    const { text, answer } = match.groups;
    
                    console.log(`text : ${text}`);
                    console.log(`answer : ${answer}`);

                    if (exampleCount === 0) {
                        that.exampleCollection.querySelector(`[aria-label="example-input"]`).value = text;
                        that.exampleCollection.querySelector(`[aria-label="example-label"]`).value = answer;
                    } else {
                        let exampleEl = document.createElement('div');
                        exampleEl.innerHTML = `{% include 'pages/includes/example.html' %}`;
                        that.exampleCollection.appendChild(exampleEl);

                        exampleEl.querySelector(`[aria-label="example-input"]`).value = text;
                        exampleEl.querySelector(`[aria-label="example-label"]`).value = answer;
                    }

                    exampleCount += 1;
                });

                that.formPrompt.value = that.prompt.value = examples[0];
            }

            this.switchToZeroShot = function() {
                that.zeroShotBtn.classList.add("active");
                that.fewShotBtn.classList.remove("active");
                that.fineTuneBtn.classList.remove("active");

                that.exampleCollection.classList.add("d-none");
                that.addExampleBtn.classList.add("d-none");

                that.formModel.value = "Zero-shot";
            }

            this.switchToFewShot = function() {
                that.zeroShotBtn.classList.remove("active");
                that.fewShotBtn.classList.add("active");
                that.fineTuneBtn.classList.remove("active");

                that.exampleCollection.classList.remove("d-none");
                that.addExampleBtn.classList.remove("d-none");

                that.formModel.value = "One/Few-shot";
            }

            this.switchToFineTune = function() {
                that.zeroShotBtn.classList.remove("active");
                that.fewShotBtn.classList.remove("active");
                that.fineTuneBtn.classList.add("active");

                that.exampleCollection.classList.add("d-none");
                that.addExampleBtn.classList.add("d-none");

                that.formModel.value = "Fine-tune";
            }

            this.onReady = (target, selector, event, callback) => {
                let clickables = [...target.querySelectorAll(selector)];

                let clickObserver = function(nodeID) {
                    callback(nodeID);
                };
        
                clickables.forEach(el => {
                    el.addEventListener(event, clickObserver.bind(el, el), true);
                });
            };
        },
        _addEventListner: function() {
            var that = this;

            this.rangeTemperature.addEventListener(
                "input", 
                that.syncValueChange.bind(that.rangeTemperature, [that.numberTemperature, that.formTemperature])
            );

            this.numberTemperature.addEventListener(
                "input", 
                that.syncValueChange.bind(that.numberTemperature, [that.rangeTemperature, that.formTemperature])
            );

            this.rangeMaxLength.addEventListener(
                "input", 
                that.syncValueChange.bind(that.rangeMaxLength, [that.numberMaxLength, that.formMaxLength])
            );

            this.numberMaxLength.addEventListener(
                "input", 
                that.syncValueChange.bind(that.numberMaxLength, [that.rangeMaxLength, that.formMaxLength])
            );

            this.rangeTopP.addEventListener(
                "input", 
                that.syncValueChange.bind(that.rangeTopP, [that.numberTopP, that.formTopP])
            );

            this.numberTopP.addEventListener(
                "input", 
                that.syncValueChange.bind(that.numberTopP, [that.rangeTopP, that.formTopP])
            );
            
            this.rangeFrequencyPenalty.addEventListener(
                "input", 
                that.syncValueChange.bind(that.rangeFrequencyPenalty, [that.numberFrequencyPenalty, that.formFrequencyPenalty])
            );

            this.numberFrequencyPenalty.addEventListener(
                "input", 
                that.syncValueChange.bind(that.numberFrequencyPenalty, [that.rangeFrequencyPenalty, that.formFrequencyPenalty])
            );

            this.rangePresencePenalty.addEventListener(
                "input", 
                that.syncValueChange.bind(that.rangePresencePenalty, [that.numberPresencePenalty, that.formPresencePenalty])
            );

            this.numberPresencePenalty.addEventListener(
                "input", 
                that.syncValueChange.bind(that.numberPresencePenalty, [that.rangePresencePenalty, that.formPresencePenalty])
            );
            
            this.rangeBestOf.addEventListener(
                "input", 
                that.syncValueChange.bind(that.rangeBestOf, [that.numberBestOf, that.formBestOf])
            );

            this.numberBestOf.addEventListener(
                "input", 
                that.syncValueChange.bind(that.numberBestOf, [that.rangeBestOf, that.formBestOf])
            );

            this.rangeDiversityPenalty.addEventListener(
                "input", 
                that.syncValueChange.bind(that.rangeDiversityPenalty, [that.numberDiversityPenalty, that.formDiversityPenalty])
            );

            this.numberDiversityPenalty.addEventListener(
                "input", 
                that.syncValueChange.bind(that.numberDiversityPenalty, [that.rangeDiversityPenalty, that.formDiversityPenalty])
            );

            this.rangeRepetitionPenalty.addEventListener(
                "input", 
                that.syncValueChange.bind(that.rangeRepetitionPenalty, [that.numberRepetitionPenalty, that.formRepetitionPenalty])
            );

            this.numberRepetitionPenalty.addEventListener(
                "input", 
                that.syncValueChange.bind(that.numberRepetitionPenalty, [that.rangeRepetitionPenalty, that.formRepetitionPenalty])
            );

            this.rangeLengthPenalty.addEventListener(
                "input", 
                that.syncValueChange.bind(that.rangeLengthPenalty, [that.numberLengthPenalty, that.formLengthPenalty])
            );

            this.numberLengthPenalty.addEventListener(
                "input", 
                that.syncValueChange.bind(that.numberLengthPenalty, [that.rangeLengthPenalty, that.formLengthPenalty])
            );

            this.rangeNumBeams.addEventListener(
                "input", 
                that.syncValueChange.bind(that.rangeNumBeams, [that.numberNumBeams, that.formNumBeams])
            );

            this.numberNumBeams.addEventListener(
                "input", 
                that.syncValueChange.bind(that.numberNumBeams, [that.rangeNumBeams, that.formNumBeams])
            );
            
            this.inputText.addEventListener(
                "input", 
                that.syncValueChange.bind(that.inputText, [that.formInputText])
            );

            this.prompt.addEventListener(
                "input", 
                that.syncValueChange.bind(that.prompt, [that.formPrompt])
            );

            this.predictSubmit.addEventListener(
                "click",
                function() {
                    let promptText = that.prompt.value;

                    if (that.formModel.value === "One/Few-shot") {
                        that.exampleCollection.querySelectorAll(`[aria-label="example"]`).forEach((exampleEl) => {
                            let exampleInputText = exampleEl.querySelector(`[aria-label="example-input"]`);
                            let exampleInputLabel = exampleEl.querySelector(`[aria-label="example-label"]`);

                            if (exampleInputText.value !== "") {
                                let answer = `\n\n[TEXT]: ${exampleInputText.value}\n[ANSWER]: ${exampleInputLabel.value}`;
                                promptText += answer;
                            }
                        });
                    }

                    that.formPrompt.value = that.prompt.value = promptText;

                    console.log(that.formModelType.value);

                    that.formSubmit.click();
                }
            )

            this.zeroShotBtn.addEventListener(
                "click",
                function () {
                    that.switchToZeroShot();
                }
            )

            this.fewShotBtn.addEventListener(
                "click",
                function () {
                    that.switchToFewShot();
                }
            )

            this.fineTuneBtn.addEventListener(
                "click",
                function () {
                    that.switchToFineTune();
                }
            )

            this.addExampleBtn.addEventListener(
                "click",
                function() {
                    let exampleEl = document.createElement('div');
                    exampleEl.innerHTML = `{% include 'pages/includes/example.html' %}`;
                    that.exampleCollection.appendChild(exampleEl);

                    that.onReady(that.exampleCollection, `[aria-label="example-close"]`, "click", (el) => {
                        that.exampleCollection.removeChild(el.parentElement.parentElement.parentElement.parentElement);
                    });
                }
            )

            this.gpt3DropDownItem.addEventListener(
                "click",
                function() {
                    that.toggleDropdownToGPT3();
                    that.formModelType.value = "GPT-3";
                }
            )

            this.gpt2DropDownItem.addEventListener(
                "click",
                function() {
                    that.toggleDropdownToGPT2();
                    that.formModelType.value = "GPT-2";
                }
            )
        }
    };

    window.onload = function() {
        var dropdownElementList = [].slice.call(document.querySelectorAll('.dropdown-toggle'));
        var dropdownList = dropdownElementList.map(function (dropdownToggleEl) {
            return new bootstrap.Dropdown(dropdownToggleEl);
        })
        new Classifier().ini();
    };
</script>
{% endblock js_files %}